@media (max-width: 1285px) {

    #containerImgTitleAlbum {
        display: block !important;
    }

    #containerAlbumWord {
        display: none;
    }



}

@media (max-width: 715px) {

    #albumTitle {
        font-size: 30px !important;
        margin-top: 20px;
    }

    #containerImgAlbum {
        display: flex !important;
        justify-content: center !important;
    }

    #infoAlbum {
        margin-left: 7px !important;
    }

    #spanDisplayNone {
        display: none;
    }

    #hr {
        display: none;
    }

    #containerButtons {
        justify-content: space-between;
    }

    #buttonPlay {
        order: 1;
    }

    #trThead,
    #thNumberSong,
    #thtitleSong,
    #thRiprodutions,
    #thTimeSongs,
    #hour,
    #thNumber,
    #rank,
    #time {
        display: none;
    }

}

.btn:disabled,
.btn.disabled {
    border-color: transparent;
}

.lightGreyText {
    color: var(--spotify-light-grey);
}

.darkBg {
    background-color: var(--spotify-dark-bg);
}

.darkGreyBg {
    background-color: var(--spotify-dark-grey-bg);
}

/* player sotto */
footer {
    width: 100%;
    background: transparent;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerContent {
    width: 98%;
    height: 90px;
}

#progressionContainer {
    width: 70%;
    height: 8px;
    background: var(--spotify-grey-bg);
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

#progressFill {
    height: 100%;
    width: 0%;
    border-radius: 5px;
    background: white;
    transition: width 0.1s linear;
}

small {
    color: var(--spotify-grey-bg);
}

#player small {
    padding: 0 1em;
}

.songInfo {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.songTitle {
    display: inline-block;
}

.songTitle.scrolling {
    animation: scrollText 10s linear infinite;
}

#songPreview .squareImg {
    width: 65px;
    height: 65px;
}

.songInfo:hover .songTitle {
    animation-play-state: paused;
}

@keyframes scrollText {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-30%);
    }

    100% {
        transform: translateX(0);
    }
}

#volumeContainer {
    width: 100px;
    height: 4px;
    border-radius: 5px;
    background-color: var(--spotify-grey-bg);
}

#volumeFill {
    height: 100%;
    border-radius: 5px;
    background-color: white;
}

.borderSolid {
    border: 1px solid greenyellow;
}